/* body {
  margin: 0;
  font-family: "Lato", sans-serif;
} */

.sidebarr {
  margin: 0;
  padding: 0;
  width: 20px;
  background-color: #f1f1f1;
  /* position: relative; */
  height: 90vh;
  float: left;
}

.sidebarr .active {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebarr a.active {
  background-color: #04aa6d;
  color: white;
  text-align: center;
}

.sidebarr a:hover:not(.active) {
  background-color: #555;
  color: white;
}
#para {
  height: 700vh;
}
#sidewala {
  height: 700vh;
}
div.contentt {
  margin-left: 200px;
  padding: 1px 16px;
  /* height: 355vh; */
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
div.contentt::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* .leftwala {
  float: left;
  width: 20%;
}
.rightwala {
  float: left;
  width: 80%;
} */

.contentmotorwala {
  display: flex;

  justify-content: center;
}

.centerfirstrow {
  text-align: center;
}

.col_name {
  width: 30%;
}

/* new styling of dashboard */
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.boxwala p {
  color: var(--grayishBlue);
}

.boxwala {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 15px;
  /* margin: 20px; */

  width: 250px;
  height: 300px;
  margin: 10px;
}

/* img {
  float: right;
} */

@media (max-width: 450px) {
  .boxwala {
    height: 200px;
  }
}
@media (max-width: 1000px) {
  .adminaddition {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
  }
  .leftwala {
    height: 0px;
  }
}
@media (max-width: 950px) and (min-width: 450px) {
  .boxwala {
    text-align: center;
    height: 180px;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid var(--orange);
}

.headstyle {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
  font-size: 20px;
}

@media (min-width: 990px) {
  .row1-containerwala {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row2-containerwala {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-downwala {
    position: relative;
    top: 150px;
  }
  .boxwala {
    width: 20%;
  }
}

.adminaddition {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid grey; */
  /* height: 100vh; */
  /* width: 100vw; */
  /* background-color: red; */
}

.amskapara {
  color: whitesmoke !important;
  font-size: 11px;
}

.createwalbtnha {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}

.adminfulldiv {
  display: flex;
}

#sidebarr {
  width: 13%;
  height: 91vh;
}

#rightwalahissa {
  width: 70%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

#adminaddition {
  height: 40vh;
  margin-top: 8px;
  width: 95%;
}
.graphha {
  height: 40vh;
  margin-top: 40px;
}

#dabbaha {
  width: 15%;
}

#amsside {
  height: 91vh;
}

#contentams {
  height: 91vh;
}

#btns_wala_data {
  height: 90vh;
}
