.InvenCardParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.InventorySysCards {
  border-radius: 5px;
}

.card {
  width: 250px !important;
  height: 300px !important;
}
.ParentParent {
  position: absolute;
  right: 7%;
  left: 7%;
  margin: auto;
}
